
* {
    background-color:thistle;
    font-size: 15px;
    font-family: "Indie Flower", cursive;
    color: slateblue; 
  }

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size:25px;
    line-height: 2;
    letter-spacing: 1px;
}

.emilia {
    border: 5px solid #856597;
  }